*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    background-color: #EFEFEF;
    
}
.digital{
    font-size: 11rem;
    font-family: "Syne", sans-serif;
}
.designer{
    font-size: 11rem;
    font-family: "Syne", sans-serif;
}
.sub-digital{
    font-size: 1.375rem;
    padding-top: 10px;
}
.sub-digital2{
    font-size: 1.375rem;
}

.startup{
    font-size: 2.5rem;
}
a:hover{
    cursor: pointer;
}
.circle {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%; /* Makes the div a circle */
    margin-left: 10px; /* Space between text and circle */
}
.talk{
    font-size: 5.8rem;
}
.bg-img{
    background-image: url(./Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
}
@media  (max-width:1023px){
    .bg-img{
        background-size: 80% 100%;
    }
}

@media  (max-width:641px){
    .bg-img{
        background-image: none;
    }
    .digital{
        font-size: 6rem;
    }
    .designer{
        font-size: 4.5rem;
    }
    .sub-digital{
        padding-top:0;
    }
    .talk{
        font-size: 44px;
    }
    .sub-digital2{
        font-size: 16px;
        font-weight: 600;
    }
}